# VIM
# Don't leak information (security breach)
vim/undodir
# Don't preload the pluggins for vim
vim/autoload/plug.vim
vim/autoload
vim/plugged
# Exclude symlinks
vim/vim

# ZSH
# Exclude themes symlink
zsh/custom-themes/custom-themes
